body {
  font-family: cursive;
  background-color: #dae7f5;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;

  padding: 12px 24px;
  border-bottom: 2px solid #000000;
  background-color: rgb(243, 254, 255);
}

.navbar-logo {
  font-weight: bold;
  color: #1f2937;
  font-size: 18px;
  text-decoration: none;
  margin-right: 20px;
}

.navbar-search {
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 6px 12px;
  width: 250px;
  margin-right: 20px;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-links a {
  color: #374151;
  text-decoration: none;
}

.navbar-links a.active {
  font-weight: bold;
  color: #2563eb;
}

.logout-button {
  border: 2px solid #000000;
  background-color: #8fabd7;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 600;
  background: none;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #f3f4f6;
}

/* Forms */
.form-container {
  border: 2px solid #8fabd7;
  padding: 24px;
  width: 100%;
  max-width: 400px;
  margin: 40px auto;
  background: #e9f1f3;
  border-radius: 8px;
}

.form-title {
  color: #2563eb;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.form-input {
  width: 100%;
  border: 1px solid #d1d5db;
  padding: 10px;
  border-radius: 6px;
}

.form-button {
  background-color: rgb(177, 228, 252);
  color: rgb(0, 0, 0);
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login_button
{
    background-color: rgb(177, 228, 252);
    color: black;
    font-weight: 900;
}

.Sign_up_button
{
    color: rgb(0, 119, 255);
    text-decoration: underline;
}

.form-button:hover {
  background-color: #1d4ed8;
}

.error-text {
  color: #dc2626;
  font-size: 14px;
  margin-top: 8px;
}
